/*CSS FOR STYLING LOGIN PAGE*/

html {
	background-color: #eceeef;
	font-family: arial;
}

.selectDisable {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}


/*MAIN LOGIN COINTAINER*/
.login_container {
	width: 90%;
	min-width: 200px;
	/*max-width: 400px;*/
	/*height: 320px;*/
	/*padding: 40px 0;*/
	margin: auto;
	/*margin-top: 50px;*/
	/*background-color: #01bae9;*/
	background-color: orange;
	border: 3px solid white;
	border-radius: 18px;
	text-align: center;
	font-size: 30px;
	margin-bottom: 80px;
}





/*WELCOME TEXT MESSAGE*/
#welcome_msg {
	width: 100%;
	padding: 5px 0px;
	word-wrap: break-word;
}
#welcome_msg p {
	text-align: center;
	font-size: 15px;
	color: black;
}







/*LOGIN IMAGE DIV*/
#login_img {
	width: 100%;
	height: 50px;
	outline: 0;	
	margin-top: 15px;
}
/*LOGIN IMAGE INSIDE DIV*/
#login_img img {
	object-fit: contain;
	outline: 0;	
	height: 100%;
}

/*FORM INPUT FIELDS*/
.login_container form input {
	width: 80%;
	height: 35px;
	padding: 0px 10px;
	margin-top: 15px;
	border: 1px solid black;
	background-color: white;
	line-height: 30px;
	border: 2px solid white;
	border-radius: 5px;
	font-size: 20px;
}
/*FORM HELP TEXT*/
.login_container p {
	width: 80%;
	margin-left: 10%;
	margin-top: 20px;
	margin-bottom: -12px;
	font-size: 17px;
	text-align: left;
}





/*LOGIN BUTTON*/
.login_container form button {
	width: 80%;
	height: 50px;
	margin-top: 20px;
	/*border: 2px solid #d7d7d7;*/
	border: 2px solid white;
	border-radius: 7px;
	background-color: #0e024e;
	/*background-color: #01bae9;*/
	color: white;
	cursor: pointer;
	font-size: 18px;
}





/* RESPONSIVE LAYOUT DESKTOP MODE*/
@media screen and (min-width: 992px) {
	/*MAIN LOGIN COINTAINER*/
	.login_container {
		width: 70%;
		max-width: 400px;
	}

	/*WELCOME TEXT MESSAGE*/
	#welcome_msg p {
		font-size: 25px;
	}




}