/*THIS IS MAIN CSS FILE*/
html {
	background-color: #eceeef;
	font-family: arial;
}
a {
	outline: 0;	
}


/*DESABLE SELECTING add this class to element*/
.selectDisable {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.selectEnable { 
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-o-user-select: text;
	user-select: text;
}

/*0e024e  dark blue*/
/*01bae9  light blue*/
/*f39228  orange */


.disable-select {
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
}

body {
	padding: 0;
	margin: 0;
	transition: width .5s;
	background-color: lightblue;
}

.main_div {
	position: absolute;
	width: 100%;
	height: 100%;
}



/*HEADR*/
.top_bar_div {
	height: 50px;
	width: 100%;
	background-color: orange;
}
/*menu button on the top left of the header*/
#menu_btn_div {
	display: block;
	height: 50px;
	width: 50px;
	float: left;
}
#menu_btn_div a {
	width: 100%;
	height: 100%;
	display: inline-block;
}
#menu_btn_div a img {
	object-fit: contain;
	height: 20px;
	width: 20px;
	padding: 15px;
}
/*LOGO IMAGE*/
#logo_img_div {
	display: block;
	position: absolute;
	left: 50px;
	text-align: center;
	height: 50px;
	width: calc(100% - 100px);
}
#logo_img_div a {
	display: inline-block;
	padding: 5px;
}
#logo_img_div a img {
	object-fit: contain;
	height: 40px;
}




/*BOTTOM CONTAINER - anything between header and footer*/
.bottom_content_div {
	width: 100%;
	height: calc(100% - 70px);
}
/*MAIN IFRAME ON INDEX - iframe for content page (on the right of menu) */
.iframe_main_page {
	width: 100%;
	height: 100%;
}


/*MAIN VIEW CONTENT - div to hold iframe for main iframe page*/
#content_iframe_div {
	background-color: gray;
	height: 100%;
	overflow: hidden;
}


/*MAIN  MENU NAVIGATION - navigation menu on the left*/
#navigation_menu {
	background-color: #01bae9;
	position: absolute;
	width: 200px;
	height: calc(100% - 50px);
	float: left;
	margin-left: -300px;
	transition: margin-left .5s;
	z-index: 6;
	overflow: auto;
}
.mainmenu_ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
/*styling for menu item*/
.mainmenu_ul a {
	display: block;
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: large;
	padding: 10px;
	transition: background-color 0.2s;
}
/*menu item on hover over*/
.mainmenu_ul a:hover {
	background-color: #0e024e;
}
/*menu item on clicked*/
.mainmenu_ul a:active { 
	background-color: gray;
}





/*FOOTER*/
.footer_div {
	height: 20px;
	background-color: orange;
}
.footer_div p {
	padding: 2px 0;
	margin: 0 0;
	font-size: 12px;
	text-align: center;
}






















/*DESKTOP MODE*/
@media screen and (min-width: 992px) {

	/*HEADR*/
	.top_bar_div {
		height: 90px;
		width: 100%;
		/*background-color: #0e024e;*/
	}
	/*MENU BUTTON ONLI VISABLE IN MOBILE VERSION*/
	#menu_btn_div {
		display: none;
	}
	/*LOGO IMAGE*/
	#logo_img_div {
		left: 0px;
		height: 90px;
	}

	#logo_img_div a {
		float: left;
		height: 70px;
		padding: 10px;
	}
	#logo_img_div a img {
		object-fit: contain;
		height: 70px;
	}




	/*BOTTOM CONTAINER*/
	.bottom_content_div {
		width: 100%;
		height: calc(100% - 110px);
	}


	/*SIDE MENU*/
	#navigation_menu {
		position: static;
		top: auto;
		left: auto;
		height: 100%;
		margin-left: 0px;
		transition: margin-left 0s;
	}

}
